# Node modules
**/node_modules/

# SAM build artifacts
**/.aws-sam/

# Local environment files
lambda/env.json
food-recipe-chrome-extension_v1/config.js
lambda/event-hf.json
lambda/event-sp.json

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/

# Chrome extension local builds
food-recipe-chrome-extension_v1/dist/

# Zip & build outputs
*.zip
dist/
build/
